# Nuxt dev/build outputs
.output
.data
.nuxt
.nuxt_clean
.nuxt_v2
.nuxt_tmp
.nuxt-dev
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store
.fleet
.idea

# Local env files
.env
.env.*
!.env.example

# Exclude docs except export files (needed for seeding)
docs/*
!docs/export/
!docs/export/*.xlsx

/app/generated/prisma
